<div>
  <br>
  <h2>Blogify!</h2>
  <br>
  <div>
    <ul class="nav nav-tabs">
      <li class="nav-item"><a routerLink="homepage" class="nav-link active">Home Page</a></li>
      <li class="nav-item"><a routerLink="blogform" class="nav-link active">Blog Form</a></li>
      <li class="nav-item"><a routerLink="blogposts" class="nav-link active">Blog Posts</a></li>
      <li class="nav-item"><a routerLink="contactus" class="nav-link active">Contact Us</a></li>
    </ul>
  </div>
  <router-outlet></router-outlet>
</div>